@using MenaWeb.ViewModels
@model ContractVM

<div class="card rr-apartment-side-1-card">
    <input type="hidden" asp-for="Contract.ApartmentSide1.IdApartment" />
    <input type="hidden" asp-for="Contract.ApartmentSide12.IdApartment" />
    <div class="card-header d-flex justify-content-between">
        <h3>Сторона 1</h3>
        <div class="btn-group" role="group">
            <a href="#" data-for="ApartmentSide1" class="form-control btn btn-primary contract-toggler" title="Развернуть панель" style="font-weight:bold;">∧</a>
        </div>
    </div>
    <div class="card-body" id="ApartmentSide1">
        <div class="form-row">
            <div class="form-group col-12">
                <label asp-for="Contract.ApartmentSide1.IdStreet">Улица</label>
                <select disabled class="selectpicker form-control" data-live-search="true" asp-for="Contract.ApartmentSide1.IdStreet" title="Улица"
                        asp-items="@{new SelectList(Model.Streets, "IdStreet", "StreetName", Model.Contract.ApartmentSide1.IdStreet)}">
                    <option></option>
                </select>
            </div>
            <div class="form-group col-4">
                <label asp-for="Contract.ApartmentSide1.House">Дом</label>
                <input disabled type="text" class="form-control input-house" asp-for="Contract.ApartmentSide1.House" maxlength="5" title="Номер дома">
            </div>
            <div class="form-group col-4">
                <label asp-for="Contract.ApartmentSide1.Flat">Квартира</label>
                <input disabled type="text" class="form-control input-premise-num" asp-for="Contract.ApartmentSide1.Flat" maxlength="10" title="Номер квартиры">
            </div>
            <div class="form-group col-4">
                <label asp-for="Contract.ApartmentSide1.Room">Комната</label>
                <input disabled type="text" class="form-control input-premise-num" asp-for="Contract.ApartmentSide1.Room" maxlength="5" title="Номер комнаты">
            </div>
            <div class="form-group col-8">
                <label asp-for="Contract.ApartmentSide1.IdApartmentType">Тип помещения</label>
                <select disabled class="selectpicker form-control" data-live-search="true" asp-for="Contract.ApartmentSide1.IdApartmentType" title="Тип помещения"
                        asp-items="@{new SelectList(Model.ApartmentTypes, "IdApartmentType", "ApartmentTypeName", Model.Contract.ApartmentSide1.IdApartmentType)}"></select>
            </div>
            <div class="form-group col-4">
                <label asp-for="Contract.ApartmentSide1.TotalArea">Общая площадь</label>
                <input disabled type="text" class="form-control input-decimal" asp-for="Contract.ApartmentSide1.TotalArea" title="Общая площадь">
                <span asp-validation-for="Contract.ApartmentSide1.TotalArea" class="text-danger"></span>
            </div>
            <div class="form-group col-8">
                <label asp-for="Contract.ApartmentSide1.InventoryNumber">Кадастровый номер</label>
                <input disabled type="text" class="form-control input-cadastral-num" asp-for="Contract.ApartmentSide1.InventoryNumber" maxlength="50" title="Кадастровый номер">
            </div>
            <div class="form-group col-4">
                <label asp-for="Contract.ApartmentSide1.Part">Доля</label>
                <input disabled type="text" class="form-control" asp-for="Contract.ApartmentSide1.Part" maxlength="5" title="Доля"
                       data-val="true" data-val-required="Укажите долю">
                <span asp-validation-for="Contract.ApartmentSide1.Part" class="text-danger"></span>
            </div>
            <div class="form-group col-12 m-evaluator" data-side="ApartmentSide1">
                <label>Оценка</label>
                <div class="m-evaluator-hidden-wrapper">
                    @{
                        string evaluatorTitle = null;
                        if (Model.Contract.ApartmentSide1.ApartmentEvaluations != null && Model.Contract.ApartmentSide1.ApartmentEvaluations.Any())
                        {

                            <input type="hidden" asp-for="Contract.ApartmentSide1.ApartmentEvaluations[0].IdApartmentEvaluation" />
                            <input type="hidden" asp-for="Contract.ApartmentSide1.ApartmentEvaluations[0].IdApartment" />
                            <input type="hidden" asp-for="Contract.ApartmentSide1.ApartmentEvaluations[0].IdEvaluator" />
                            <input type="hidden" asp-for="Contract.ApartmentSide1.ApartmentEvaluations[0].EvaluationDate"
                                value="@(Model.Contract.ApartmentSide1.ApartmentEvaluations[0].EvaluationDate != null ? 
                                        Model.Contract.ApartmentSide1.ApartmentEvaluations[0].EvaluationDate.Value.ToString("yyyy-MM-dd") : "")" />
                            <input type="hidden" asp-for="Contract.ApartmentSide1.ApartmentEvaluations[0].EvaluationNumber" />
                            <input type="hidden" asp-for="Contract.ApartmentSide1.ApartmentEvaluations[0].EvaluationPrice" />
                            var evaluator = Model.Contract.ApartmentSide1.ApartmentEvaluations.FirstOrDefault();
                            if (evaluator.Evaluator != null)
                            {
                                evaluatorTitle += evaluator.Evaluator.EvaluatorName;
                            }
                            if (evaluator.EvaluationPrice != null)
                            {
                                if (evaluatorTitle != null)
                                {
                                    evaluatorTitle += ": ";
                                }
                                evaluatorTitle += string.Format("{0} руб", evaluator.EvaluationPrice);
                            }
                        }
                    }
                </div>
                <div class="input-group">
                    <input disabled type="text" class="form-control m-input--disable-alwayes" name="Contract.ApartmentSide1.EvaluatorTitle" value="@evaluatorTitle" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary m-evaluator-btn" type="button" id="button-addon2">
                            <span class="oi oi-ellipses"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        @if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
        {
            <a href="#" class="m-contract__add-side-12-btn @(Model.Contract.ApartmentSide12.IsEmpty() ? "" : "d-none")">Добавить собственность</a>
        }
        @if (!Model.Contract.ApartmentSide12.IsEmpty() || ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
        {
            <div class="@(Model.Contract.ApartmentSide12.IsEmpty() ? "d-none" : "") side-12-container">
                <hr />
                <div class="clearfix mb-3">
                    <b class="float-left">Собственность 2</b>
                    @if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
                    {
                        <button class="btn float-right p-0 text-danger m-contract__remove-side-12-btn"><span class="oi oi-trash"></span></button>
                    }
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label asp-for="Contract.ApartmentSide12.IdStreet">Улица</label>
                        <select disabled class="selectpicker form-control" data-live-search="true" asp-for="Contract.ApartmentSide12.IdStreet" title="Улица"
                                asp-items="@{new SelectList(Model.Streets, "IdStreet", "StreetName", Model.Contract.ApartmentSide12.IdStreet)}">
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="Contract.ApartmentSide12.House">Дом</label>
                        <input disabled type="text" class="form-control input-house" asp-for="Contract.ApartmentSide12.House" maxlength="5" title="Номер дома">
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="Contract.ApartmentSide12.Flat">Квартира</label>
                        <input disabled type="text" class="form-control input-premise-num" asp-for="Contract.ApartmentSide12.Flat" maxlength="10" title="Номер квартиры">
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="Contract.ApartmentSide12.Room">Комната</label>
                        <input disabled type="text" class="form-control input-premise-num" asp-for="Contract.ApartmentSide12.Room" maxlength="5" title="Номер комнаты">
                    </div>
                    <div class="form-group col-8">
                        <label asp-for="Contract.ApartmentSide12.IdApartmentType">Тип помещения</label>
                        <select disabled class="selectpicker form-control" data-live-search="true" asp-for="Contract.ApartmentSide12.IdApartmentType" title="Тип помещения"
                                asp-items="@{new SelectList(Model.ApartmentTypes, "IdApartmentType", "ApartmentTypeName", Model.Contract.ApartmentSide12.IdApartmentType)}"></select>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="Contract.ApartmentSide12.TotalArea">Общая площадь</label>
                        <input disabled type="text" class="form-control input-decimal" asp-for="Contract.ApartmentSide12.TotalArea" title="Общая площадь">
                        <span asp-validation-for="Contract.ApartmentSide12.TotalArea" class="text-danger"></span>
                    </div>
                    <div class="form-group col-8">
                        <label asp-for="Contract.ApartmentSide12.InventoryNumber">Кадастровый номер</label>
                        <input disabled type="text" class="form-control input-cadastral-num" asp-for="Contract.ApartmentSide12.InventoryNumber" maxlength="50" title="Кадастровый номер">
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="Contract.ApartmentSide12.Part">Доля</label>
                        <input disabled type="text" class="form-control" asp-for="Contract.ApartmentSide12.Part" maxlength="5" title="Доля"
                               data-val="true" data-val-required="Укажите долю">
                        <span asp-validation-for="Contract.ApartmentSide12.Part" class="text-danger"></span>
                    </div>
                    <div class="form-group col-12 m-evaluator" data-side="ApartmentSide12">
                        <label>Оценка</label>
                        <div class="m-evaluator-hidden-wrapper">
                            @{
                                evaluatorTitle = null;
                                if (Model.Contract.ApartmentSide12.ApartmentEvaluations != null && Model.Contract.ApartmentSide12.ApartmentEvaluations.Any())
                                {

                                    <input type="hidden" asp-for="Contract.ApartmentSide12.ApartmentEvaluations[0].IdApartmentEvaluation" />
                                    <input type="hidden" asp-for="Contract.ApartmentSide12.ApartmentEvaluations[0].IdApartment" />
                                    <input type="hidden" asp-for="Contract.ApartmentSide12.ApartmentEvaluations[0].IdEvaluator" />
                                    <input type="hidden" asp-for="Contract.ApartmentSide12.ApartmentEvaluations[0].EvaluationDate"
                                value="@(Model.Contract.ApartmentSide12.ApartmentEvaluations[0].EvaluationDate != null ? 
                                        Model.Contract.ApartmentSide12.ApartmentEvaluations[0].EvaluationDate.Value.ToString("yyyy-MM-dd") : "")" />
                                    <input type="hidden" asp-for="Contract.ApartmentSide12.ApartmentEvaluations[0].EvaluationNumber" />
                                    <input type="hidden" asp-for="Contract.ApartmentSide12.ApartmentEvaluations[0].EvaluationPrice" />
                                    var evaluator = Model.Contract.ApartmentSide12.ApartmentEvaluations.FirstOrDefault();
                                    if (evaluator.Evaluator != null)
                                    {
                                        evaluatorTitle += evaluator.Evaluator.EvaluatorName;
                                    }
                                    if (evaluator.EvaluationPrice != null)
                                    {
                                        if (evaluatorTitle != null)
                                        {
                                            evaluatorTitle += ": ";
                                        }
                                        evaluatorTitle += string.Format("{0} руб", evaluator.EvaluationPrice);
                                    }
                                }
                            }
                        </div>
                        <div class="input-group">
                            <input disabled type="text" class="form-control m-input--disable-alwayes" name="Contract.ApartmentSide12.EvaluatorTitle" value="@evaluatorTitle" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary m-evaluator-btn" type="button" id="button-addon2">
                                    <span class="oi oi-ellipses"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>