@using MenaWeb.Models.Entities;
@using MenaWeb.ViewModels
@model ContractVM

<form id="evaluatorForm" autocomplete="off">
    <div class="modal fade" id="evaluatorModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Оценка</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="Evaluator.IdEvaluator">Оценщик</label>
                            <select disabled class="selectpicker form-control" title="Оценщик" name="Evaluator.IdEvaluator"
                                    id="Evaluator_IdEvaluator"
                                    asp-items="@(new SelectList(Model.Evaluators, "IdEvaluator", "EvaluatorName"))">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="Evaluator.EvaluationNumber">Номер отчета</label>
                            <input disabled type="text" class="form-control" maxlength="255" title="Номер отчета" name="Evaluator.EvaluationNumber" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="Evaluator.EvaluationDate">Дата отчета</label>
                            <input disabled type="date" class="form-control" title="Дата отчета" name="Evaluator.EvaluationDate" id="Evaluator_EvaluationDate" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="Evaluator.EvaluationPrice">Оценочная стоимость</label>
                            <input disabled type="text" class="form-control input-decimal" title="Оценочная стоимость" name="Evaluator.EvaluationPrice" id="Evaluator_EvaluationPrice" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
                    {
                        <button type="button" class="btn btn-primary m-evaluator-submit">Сохранить</button>
                        <button type="button" class="btn btn-danger m-evaluator-clear">Очистить</button>
                    }
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="landForm" autocomplete="off">
    <div class="modal fade" id="landModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Земельный участок</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="Land.IdStreet">Улица</label>
                            <select disabled class="selectpicker form-control" data-live-search="true" title="Улица" name="Land.IdStreet"
                                    id="Land_IdStreet"
                                    asp-items="@(new SelectList(Model.Streets, "IdStreet", "StreetName"))">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="Land.House">Дом</label>
                            <input disabled type="text" class="form-control input-house" title="Номер дома" name="Land.House" maxlength="5" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-Land col-12">
                            <label for="Land.InventoryNumber">Кадастровый номер</label>
                            <input disabled type="text" class="form-control input-cadastral-num" title="Кадастровый номер" name="Land.InventoryNumber" maxlength="50" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="Land.TotalArea">Общая площадь</label>
                            <input disabled type="text" class="form-control input-decimal" title="Общая площадь" name="Land.TotalArea" id="Land_TotalArea" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12 col-lg-6">
                            <label for="Land.ResolutionNumber">Номер постановления</label>
                            <input disabled type="text" class="form-control input-decimal" title="Номер постановления" name="Land.ResolutionNumber" id="Land_ResolutionNumber">
                        </div>
                        <div class="form-group col-12 col-lg-6">
                            <label for="Land.ResolutionDate">Дата постановления</label>
                            <input disabled type="date" class="form-control" title="Дата постановления" name="Land.ResolutionDate" id="Land_ResolutionDate">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
                    {
                        <button type="button" class="btn btn-primary m-land-submit">Сохранить</button>
                        <button type="button" class="btn btn-danger m-land-clear">Очистить</button>
                    }
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="statusesForm" autocomplete="off">
    <div class="modal fade" id="statusesModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Статусы договора</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row m-status-row">
                        <input type="hidden" name="Status.IdHistoryStatus" id="Status_IdHistoryStatus" value="0" />
                        <input type="hidden" name="Status.IdContract" id="Status_IdContract" value="0" />
                        <div class="form-group col-12 @(ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create ? "col-lg-8" : "col-lg-9")">
                            <select disabled class="form-control" title="Статус" name="Status.IdProcessStatus"
                                    id="Status_IdProcessStatus">
                                <option></option>
                                @foreach (var status in Model.ProcessStatuses)
                                {
                                    <option value="@status.IdProcessStatus" data-step="@status.Step">@status.ProcessStatusName</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-lg-3 @(ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create ? "col-10" : "col-12")">
                            <input disabled type="date" class="form-control" title="Дата" name="Status.StatusDate" id="Status_StatusDate"
                                   data-val="true" data-val-required="Укажите дату" />
                            <span data-valmsg-for="Status.StatusDate" data-valmsg-replace="true" class="text-danger"></span>
                        </div>
                        @if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
                        {
                            <div class="col-lg-1 col-2 text-right">
                                <button class="btn btn-danger m-status-delete-btn">
                                    <span class="oi oi-x"></span>
                                </button>
                            </div>
                        }
                    </div>
                    @if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
                    {
                        <div class="col-12 text-center">
                            <button class="btn btn-success m-status-add-btn">
                                Добавить
                            </button>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    @if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
                    {
                        <button type="button" class="btn btn-primary m-status-submit">Сохранить</button>
                    }
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="personModalForm">
    <div class="modal fade bd-example-modal-xl" id="personModal" data-index="0" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Собственник</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-6 col-lg-4">
                            <label for="Person_IdContractor">Признак</label>
                            <select disabled class="selectpicker form-control" id="Person_IdContractor" name="Person.IdContractor" title="Признак"
                                    asp-items="@(new SelectList(Model.Contractors, "IdContractor", "ContractorName"))"
                                    data-val="true" data-val-required="Выберите признак"></select>
                            <span class="text-danger field-validation-valid" data-valmsg-for="Person.IdContractor" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group col-md-6 col-lg-4">
                            <label for="Person_Portion">Доля</label>
                            <input disabled type="text" id="Person_Portion" maxlength="5" name="Person.Portion" class="form-control" title="Доля собственника"
                                   data-val="true" data-val-required="Укажите долю" />
                            <span class="text-danger field-validation-valid" data-valmsg-for="Person.Portion" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group col-12 col-lg-4">
                            <label for="Person_IdPersonStatus">Статус</label>
                            <select disabled class="selectpicker form-control" data-live-search="true" id="Person_IdPersonStatus" name="Person.IdPersonStatus" title="Статус"
                                    asp-items="@(new SelectList(Model.PersonStatuses, "IdPersonStatus", "Status"))"
                                    data-val="true" data-val-required="Выберите статус"></select>
                            <span class="text-danger field-validation-valid" data-valmsg-for="Person.IdPersonStatus" data-valmsg-replace="true"></span>
                        </div>
                        <div class="col-md-12">
                            <h5>Личные данные</h5>
                            <hr />
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label for="Person_Family">Фамилия</label>
                            <input disabled type="text" id="Person_Family" maxlength="50" name="Person.Family" class="form-control input-chars" title="Фамилия собственника"
                                   data-val="true" data-val-required="Укажите фамилию" />
                            <span class="text-danger field-validation-valid" data-valmsg-for="Person.Family" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label for="Person_Name">Имя</label>
                            <input disabled type="text" id="Person_Name" maxlength="50" name="Person.Name" class="form-control input-chars" title="Имя собственника"
                                   data-val="true" data-val-required="Укажите имя" />
                            <span class="text-danger field-validation-valid" data-valmsg-for="Person.Name" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label for="Person_Father">Отчество</label>
                            <input disabled type="text" id="Person_Father" maxlength="50" name="Person.Father" class="form-control input-snp" title="Отчетство участника" />
                        </div>

                        <div class="form-group col-md-6 col-lg-3">
                            <label for="Person_Birth">Дата рождения</label>
                            <div class="input-group date">
                                <input disabled type="date" id="Person_Birth" name="Person.Birth" class="form-control" title="Дата рождения собственника">
                            </div>
                        </div>

                        <div class="form-group col-md-6 col-lg-3">
                            <label for="Person_Sex">Пол</label>
                            <select disabled class="selectpicker form-control" id="Person_Sex" name="Person.Sex" title="Пол">
                                <option></option>
                                <option value="0">Ж</option>
                                <option value="1">М</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6 col-lg-3">
                            <label for="Person_Snils">СНИЛС</label>
                            <input disabled type="text" id="Person_Snils" maxlength="14" name="Person.Snils" class="form-control" title="СНИЛС" data-inputmask="'mask': '999-999-999 99'" />
                        </div>

                        <div class="form-group col-12 col-lg-6">
                            <label for="Person_BornPlace">Место рождения</label>
                            <input disabled type="text" id="Person_BornPlace" maxlength="255" name="Person.BornPlace" class="form-control" title="Место рождения" />
                        </div>

                        <div class="col-md-12">
                            <h5>Адрес регистрации</h5>
                            <hr />
                        </div>

                        <div class="form-group col-md-12 col-lg-6">
                            <label for="Person_IdContractor">Улица</label>
                            <select disabled class="selectpicker form-control" id="Person_IdRegistrationStreet" name="Person.IdRegistrationStreet" title="Улица"
                                    asp-items="@(new SelectList(Model.Streets, "IdStreet", "StreetName"))"></select>
                        </div>
                        <div class="form-group col-md-4 col-lg-2">
                            <label for="Person_RegistrationHouse">Дом</label>
                            <input disabled type="text" id="Person_RegistrationHouse" maxlength="5" name="Person.RegistrationHouse" class="form-control" title="Дом" />
                        </div>
                        <div class="form-group col-md-4 col-lg-2">
                            <label for="Person_RegistrationFlat">Квартира</label>
                            <input disabled type="text" id="Person_RegistrationFlat" maxlength="10" name="Person.RegistrationFlat" class="form-control" title="Квартира" />
                        </div>
                        <div class="form-group col-md-4 col-lg-2">
                            <label for="Person_RegistrationRoom">Комната</label>
                            <input disabled type="text" id="Person_RegistrationRoom" maxlength="5" name="Person.RegistrationRoom" class="form-control" title="Комната" />
                        </div>

                        <div class="col-md-12">
                            <h5>Документы, удостоверяющие личность</h5>
                            <hr />
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label for="Person_IdDocument">Вид документа</label>
                            <select disabled class="selectpicker form-control" id="Person_IdDocument" name="Person.IdDocument" title="Вид документа, удостоверяющего личность" asp-items="@(new SelectList(Model.Documents, "IdDocument", "DocumentName"))"
                                    data-val="true" data-val-required="Выберите вид документа"></select>
                            <span class="text-danger field-validation-valid" data-valmsg-for="Person.IdDocument" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label for="Person_DocumentSeria">Серия</label>
                            <input disabled type="text" id="Person_DocumentSeria" maxlength="8" name="Person.DocumentSeria" class="form-control" title="Серия документа, удостоверяющего личность" />
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label for="Person_DocumentNumber">Номер</label>
                            <input disabled type="text" id="Person_DocumentNumber" maxlength="8" name="Person.DocumentNumber" class="form-control" title="Номер документа, удостоверяющего личность" />
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label for="Person_DocumentDate">Дата выдачи</label>
                            <div class="input-group date">
                                <input disabled type="date" id="Person_DocumentDate" name="Person.DocumentDate" class="form-control" title="Дата выдачи документа, удостоверяющего личность">
                            </div>
                        </div>
                        <div class="form-group col-12 col-lg-9">
                            <label for="Person_IdDocumentIssued">Кем выдан</label>
                            @if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
                            {
                                <button id="addDocumentIssuedBtn" class="btn pt-0 pb-0 pl-1 pr-1 text-success" title="Добавить новый орган, выдающий документы, удостоверяющие личность">
                                    <span class="oi oi-plus"></span>
                                </button>
                                <button id="cancelDocumentIssuedBtn" style="display: none" class="btn pt-0 pb-0 pl-1 pr-1 text-danger" title="Отменить добавление">
                                    <span class="oi oi-ban"></span>
                                </button>
                                <input type="text" style="display: none" class="form-control" id="CustomDocumentIssued" name="CustomDocumentIssued"
                                       placeholder="Наименование органа" title="Наименование органа" data-val="true" data-val-required="Укажите наименование органа">
                                <span class="text-danger field-validation-valid" data-valmsg-for="CustomDocumentIssued" data-valmsg-replace="true"></span>
                            }
                            <select class="selectpicker form-control" data-live-search="true" id="Person_IdDocumentIssued" name="Person.IdDocumentIssued" title="Кем выдан документ, удостоверяющий личность">
                                <option></option>
                                @foreach (DocumentIssued documentIssude in Model.DocumentIssueds)
                                {
                                    <option data-tokens="@documentIssude.DocumentIssuedName" title="@documentIssude.DocumentIssuedName" value="@documentIssude.IdDocumentIssued">@(documentIssude.DocumentIssuedName.Length > 50 ? documentIssude.DocumentIssuedName.Substring(0, 50) + "..." : documentIssude.DocumentIssuedName)</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-12 col-lg-3">
                            <label for="Person_DocumentIssuerCode">Код подразделения</label>
                            <input disabled type="text" id="Person_DocumentIssuerCode" maxlength="7" name="Person.DocumentIssuerCode" class="form-control" title="Код подразделения, выдавшего документ, удостоверяющий личность" 
                                   data-inputmask="'mask': '999-999'"/>
                        </div>
                        <div class="form-group col-12">
                            <label for="Person_IdTemplate">Доверенность</label>
                            <select disabled class="selectpicker form-control" data-width="100%" data-live-search="true" title="Доверенность" name="Person.IdTemplate"
                                    id="Person_IdTemplate">
                                <option></option>
                                @foreach (var option in Model.WarrantsPersons)
                                {
                                    <option data-tokens="@option.WarrantTemplateName" title="@option.WarrantTemplateName"
                                            data-template-name="@option.WarrantTemplateName"
                                            data-template-body="@option.WarrantTemplateBody" value="@option.IdWarrantTemplate">
                                        @(option.WarrantTemplateName?.Length > 75 ? option.WarrantTemplateName.Substring(0, 75) + "..." : option.WarrantTemplateName)
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="m-variables-wrapper row">
                    </div>
                </div>
                <div class="modal-footer">
                    @if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
                    {
                        <button id="savePersonModalBtn" type="button" class="btn btn-secondary">Сохранить</button>
                        <button id="cancelPersonModalBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                    }
                    @if (ViewBag.Action == ActionTypeEnum.Details || ViewBag.Action == ActionTypeEnum.Delete)
                    {
                        <button id="closePersonModalBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    }
                </div>
            </div>
        </div>
    </div>
</form>

<form id="accountModalForm">
    <div class="modal fade" id="accountModal" data-index="0" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Лицевой счет</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label for="Account_Account">Лицевой счет</label>
                            <input disabled type="text" id="Account_Account" maxlength="255" name="Account.Account"
                                   class="form-control input-numbers" title="Лицевой счет" />
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="Account_AccountHolder">Держатель</label>
                            <input disabled type="text" id="Account_AccountHolder" maxlength="255" name="Account.AccountHolder" class="form-control"
                                   title="Держатель лицевого счета" />
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="Account_Sum">Сумма</label>
                            <input disabled type="text" id="Account_Sum" name="Account.Sum" class="form-control input-decimal"
                                   title="Сумма" />
                        </div>
                        <input type="hidden" name="Account.Bank" id="Account_Bank" />
                        <div class="form-group col-12">
                            <label for="Account_BankName">Счет открыт в (филиал банка)</label>
                            <input disabled type="text" id="Account_BankName" maxlength="971" name="Account.BankName" class="form-control" title="Наименование филиала банка" />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="Account_BankBik">БИК</label>
                            <input disabled type="text" id="Account_BankBik" maxlength="9" name="Account.BankBik" class="form-control input-numbers" title="БИК" />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="Account_BankCorAccount">Кор/счет</label>
                            <input disabled type="text" id="Account_BankCorAccount" maxlength="20" name="Account.BankCorAccount" class="form-control input-numbers" title="Корреспондентский счет" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
                    {
                        <button id="saveAccountModalBtn" type="button" class="btn btn-secondary">Сохранить</button>
                        <button id="cancelAccountModalBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                    }
                    @if (ViewBag.Action == ActionTypeEnum.Details || ViewBag.Action == ActionTypeEnum.Delete)
                    {
                        <button id="closeAccountModalBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    }
                </div>
            </div>
        </div>
    </div>
</form>

<form id="orgModalForm">
    <div class="modal fade" id="orgModal" data-index="0" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Источник финансирования</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="Org_IdOrganization">Источник финансирования</label>
                            <select disabled class="selectpicker form-control" title="Оценщик" name="Org.IdOrganization"
                                    id="Org_IdOrganization"
                                    asp-items="@(new SelectList(Model.RedOrganizations, "IdOrganization", "Name"))">
                                <option></option>
                            </select>
                        </div>
                        <div class="form-group col-12">
                            <label for="Org_EvaluationPrice">Размер возмещения (в формате 123 456 руб. 78 коп.)</label>
                            <input disabled type="text" id="Org_EvaluationPrice" name="Org.EvaluationPrice" class="form-control"
                                   title="Размер возмещения" maxlength="50" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
                    {
                        <button id="saveOrgModalBtn" type="button" class="btn btn-secondary">Сохранить</button>
                        <button id="cancelOrgModalBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                    }
                    @if (ViewBag.Action == ActionTypeEnum.Details || ViewBag.Action == ActionTypeEnum.Delete)
                    {
                        <button id="closeOrgModalBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    }
                </div>
            </div>
        </div>
    </div>
</form>

<form id="docForm">
    <div class="modal fade" id="docModal" data-index="0" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Документ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="Doc_IdWarrantTemplate">Вид документа</label>
                            <select disabled class="selectpicker form-control" data-width="100%" data-live-search="true" title="Вид документа" name="Doc.IdWarrantTemplate"
                                    id="Doc_IdWarrantTemplate"
                                    data-val="true" data-val-required="Выберите вид документа">
                                <option></option>
                                @foreach (var option in Model.WarrantsMunicipal)
                                {
                                    <option data-tokens="@option.WarrantTemplateName" title="@option.WarrantTemplateName" data-warrant-type="municipal"
                                        data-template-name="@option.WarrantTemplateName"
                                        data-template-body="@option.WarrantTemplateBody" value="@option.IdWarrantTemplate">
                                            @(option.WarrantTemplateName?.Length > 75 ? option.WarrantTemplateName.Substring(0, 75) +"..." : option.WarrantTemplateName)</option>
                                }
                                @foreach (var option in Model.WarrantsOwnership)
                                {
                                    <option data-tokens="@option.WarrantTemplateName" title="@option.WarrantTemplateName" data-warrant-type="ownership"
                                            data-template-name="@option.WarrantTemplateName"
                                            data-template-body="@option.WarrantTemplateBody" value="@option.IdWarrantTemplate">
                                        @(option.WarrantTemplateName?.Length > 75 ? option.WarrantTemplateName.Substring(0, 75) + "..." : option.WarrantTemplateName)
                                    </option>
                                }
                            </select>
                            <span class="text-danger field-validation-valid" data-valmsg-for="Doc.IdWarrantTemplate" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="m-variables-wrapper row">
                    </div>
                </div>
                <div class="modal-footer">
                    @if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
                    {
                        <button id="saveDocModalBtn" type="button" class="btn btn-secondary">Сохранить</button>
                        <button id="cancelDocModalBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                    }
                    @if (ViewBag.Action == ActionTypeEnum.Details || ViewBag.Action == ActionTypeEnum.Delete)
                    {
                        <button id="closeDocModalBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    }
                </div>
            </div>
        </div>
    </div>
</form>