@using MenaWeb.Models.Entities;
@using MenaWeb.ViewModels
@model ContractVM

<form id="evaluatorForm" autocomplete="off">
    <div class="modal fade" id="evaluatorModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Оценка</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="Evaluator.IdEvaluator">Оценщик</label>
                            <select disabled class="selectpicker form-control" title="Оценщик" name="Evaluator.IdEvaluator"
                                    id="Evaluator_IdEvaluator"
                                    asp-items="@(new SelectList(Model.Evaluators, "IdEvaluator", "EvaluatorName"))">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="Evaluator.EvaluationNumber">Номер отчета</label>
                            <input disabled type="text" class="form-control" maxlength="255" title="Номер отчета" name="Evaluator.EvaluationNumber" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="Evaluator.EvaluationDate">Дата отчета</label>
                            <input disabled type="date" class="form-control" title="Дата отчета" name="Evaluator.EvaluationDate" id="Evaluator_EvaluationDate" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="Evaluator.EvaluationPrice">Оценочная стоимость</label>
                            <input disabled type="text" class="form-control input-decimal" title="Оценочная стоимость" name="Evaluator.EvaluationPrice" id="Evaluator_EvaluationPrice" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
                    {
                        <button type="button" class="btn btn-primary m-evaluator-submit">Сохранить</button>
                        <button type="button" class="btn btn-danger m-evaluator-clear">Очистить</button>
                    }
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="landForm" autocomplete="off">
    <div class="modal fade" id="landModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Земельный участок</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="Land.IdStreet">Улица</label>
                            <select disabled class="selectpicker form-control" title="Улица" name="Land.IdStreet"
                                    id="Land_IdStreet"
                                    asp-items="@(new SelectList(Model.Streets, "IdStreet", "StreetName"))">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="Land.House">Дом</label>
                            <input disabled type="text" class="form-control input-house" title="Номер дома" name="Land.House" maxlength="5" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-Land col-12">
                            <label for="Land.InventoryNumber">Кадастровый номер</label>
                            <input disabled type="text" class="form-control input-cadastral-num" title="Кадастровый номер" name="Land.InventoryNumber" maxlength="50" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="Land.TotalArea">Общая площадь</label>
                            <input disabled type="text" class="form-control input-decimal" title="Общая площадь" name="Land.TotalArea" id="Land_TotalArea" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
                    {
                        <button type="button" class="btn btn-primary m-land-submit">Сохранить</button>
                        <button type="button" class="btn btn-danger m-land-clear">Очистить</button>
                    }
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="statusesForm" autocomplete="off">
    <div class="modal fade" id="statusesModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Статусы договора</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row m-status-row">
                        <input type="hidden" name="Status.IdHistoryStatus" id="Status_IdHistoryStatus" value="0" />
                        <input type="hidden" name="Status.IdContract" id="Status_IdContract" value="0" />
                        <div class="form-group col-12 @(ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create ? "col-lg-8" : "col-lg-9")">
                            <select disabled class="form-control" title="Статус" name="Status.IdProcessStatus"
                                    id="Status_IdProcessStatus">
                                <option></option>
                                @foreach (var status in Model.ProcessStatuses)
                                {
                                    <option value="@status.IdProcessStatus" data-step="@status.Step">@status.ProcessStatusName</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-lg-3 @(ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create ? "col-10" : "col-12")">
                            <input disabled type="date" class="form-control" title="Дата" name="Status.StatusDate" id="Status_StatusDate" 
                                   data-val="true" data-val-required="Укажите дату"/>
                            <span data-valmsg-for="Status.StatusDate" data-valmsg-replace="true" class="text-danger"></span>
                        </div>
                        @if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
                        {
                            <div class="col-lg-1 col-2 text-right">
                                <button class="btn btn-danger m-status-delete-btn">
                                    <span class="oi oi-x"></span>
                                </button>
                            </div>
                        }
                    </div>
                    @if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
                    {
                        <div class="col-12 text-center">
                            <button class="btn btn-success m-status-add-btn">
                                Добавить
                            </button>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    @if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
                    {
                        <button type="button" class="btn btn-primary m-status-submit">Сохранить</button>
                    }
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</form>