@using MenaWeb.ViewModels;
@using MenaWeb.Extensions;
@model ContractListVM

@{
    var ids = Context.Session.Get<List<int>>("idContracts") ?? new List<int>();
    var check = "";
}

<table class="table table-hover m-table">
    <thead>
        <tr>
            <th>
            </th>
            <th class="align-middle" style="width:70px;">
                №
            </th>
            <th class="align-middle">
                Адрес
            </th>
            <th class="align-middle d-none d-md-table-cell">
                Участники мены
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contracts)
        {
            <tr style="position: relative">
                @if (ids.Contains(item.IdContract))
                {
                    check = "checked";
                }
                else
                {
                    check = "";
                }
                <td class="align-middle"><input type="checkbox" class="idCheckbox" data-id="@item.IdContract" @Html.Raw(check) /></td>
                <td>@item.IdContract</td>
                <td>
                    @if (item.ApartmentSide1 == null && item.ApartmentSide12 == null && item.ApartmentSide2 == null)
                    {
                        <div><b>Сторона 1</b></div>
                        <i class="text-danger">адрес не указан</i>
                        <div class="mb-2"></div>
                        <div><b>Сторона 2</b></div>
                        <i class="text-danger">адрес не указан</i>
                    }
                    @if (item.ApartmentSide1 != null || item.ApartmentSide12 != null)
                    {
                        <div><b>Сторона 1</b></div>
                    }

                    @{
                        string addressSide1 = null;
                    }
                    @if (item.ApartmentSide1 != null)
                    {
                        var address = Model.Streets.FirstOrDefault(r => r.IdStreet == item.ApartmentSide1.IdStreet)?.StreetName;
                        if (!string.IsNullOrEmpty(item.ApartmentSide1.House))
                        {
                            if (!string.IsNullOrEmpty(address))
                            {
                                address += ", ";
                            }
                            address += "д. " + item.ApartmentSide1.House;
                        }
                        if (!string.IsNullOrEmpty(item.ApartmentSide1.Flat))
                        {
                            if (!string.IsNullOrEmpty(address))
                            {
                                address += ", ";
                            }
                            address += "кв. " + item.ApartmentSide1.Flat;
                        }
                        if (!string.IsNullOrEmpty(item.ApartmentSide1.Room))
                        {
                            if (!string.IsNullOrEmpty(address))
                            {
                                address += ", ";
                            }
                            address += "ком. " + item.ApartmentSide1.Room;
                        }
                        if (!string.IsNullOrEmpty(address))
                        {
                            @address
                            addressSide1 = address;
                        }
                        <div class="m-contract-list__address-dopinfo">
                            @if (item.ApartmentSide1.InventoryNumber != null)
                            {
                                <span>Кадастровый номер: </span>@item.ApartmentSide1.InventoryNumber
                            }
                            @if (item.ApartmentSide1.InventoryNumber != null && (item.ApartmentSide1.TotalArea != null))
                            {
                                <br />
                            }
                            @if (item.ApartmentSide1.TotalArea != null)
                            {
                                <span>Общая площадь: </span>@item.ApartmentSide1.TotalArea<span> м<sup>2</sup></span>
                            }
                        </div>
                    }
                    @{
                        string addressSide12 = null;
                    }
                    @if (item.ApartmentSide12 != null)
                    {
                        var address = Model.Streets.FirstOrDefault(r => r.IdStreet == item.ApartmentSide12.IdStreet)?.StreetName;
                        if (!string.IsNullOrEmpty(item.ApartmentSide12.House))
                        {
                            if (!string.IsNullOrEmpty(address))
                            {
                                address += ", ";
                            }
                            address += "д. " + item.ApartmentSide12.House;
                        }
                        if (!string.IsNullOrEmpty(item.ApartmentSide12.Flat))
                        {
                            if (!string.IsNullOrEmpty(address))
                            {
                                address += ", ";
                            }
                            address += "кв. " + item.ApartmentSide12.Flat;
                        }
                        if (!string.IsNullOrEmpty(item.ApartmentSide12.Room))
                        {
                            if (!string.IsNullOrEmpty(address))
                            {
                                address += ", ";
                            }
                            address += "ком. " + item.ApartmentSide12.Room;
                        }
                        if (!string.IsNullOrEmpty(address))
                        {
                            @address
                            addressSide12 = address;
                        }
                        <div class="m-contract-list__address-dopinfo">
                            @if (item.ApartmentSide12.InventoryNumber != null)
                            {
                                <span>Кадастровый номер: </span>@item.ApartmentSide12.InventoryNumber
                            }
                            @if (item.ApartmentSide12.InventoryNumber != null && (item.ApartmentSide12.TotalArea != null))
                            {
                                <br />
                            }
                            @if (item.ApartmentSide12.TotalArea != null)
                            {
                                <span>Общая площадь: </span>@item.ApartmentSide12.TotalArea<span> м<sup>2</sup></span>
                            }
                        </div>
                    }
                    @if (string.IsNullOrEmpty(addressSide1) && string.IsNullOrEmpty(addressSide1))
                    {
                        <i class="text-danger">адрес не указан</i>
                    }
                    @if ((item.ApartmentSide1 != null || item.ApartmentSide12 != null) && item.ApartmentSide2 != null)
                    {
                        <div class="mb-2"></div>
                    }
                    @if (item.ApartmentSide2 != null)
                    {
                        <div><b>Сторона 2</b></div>
                    }
                    @if (item.ApartmentSide2 != null)
                    {
                        var address = Model.Streets.FirstOrDefault(r => r.IdStreet == item.ApartmentSide2.IdStreet)?.StreetName;
                        if (!string.IsNullOrEmpty(item.ApartmentSide2.House))
                        {
                            if (!string.IsNullOrEmpty(address))
                            {
                                address += ", ";
                            }
                            address += "д. " + item.ApartmentSide2.House;
                        }
                        if (!string.IsNullOrEmpty(item.ApartmentSide2.Flat))
                        {
                            if (!string.IsNullOrEmpty(address))
                            {
                                address += ", ";
                            }
                            address += "кв. " + item.ApartmentSide2.Flat;
                        }
                        if (!string.IsNullOrEmpty(item.ApartmentSide2.Room))
                        {
                            if (!string.IsNullOrEmpty(address))
                            {
                                address += ", ";
                            }
                            address += "ком. " + item.ApartmentSide2.Room;
                        }
                        if (string.IsNullOrEmpty(address))
                        {
                            <i class="text-danger">адрес не указан</i>
                        }
                        else
                        {
                            @address
                        }
                        <div class="m-contract-list__address-dopinfo">
                            @if (item.ApartmentSide2.InventoryNumber != null)
                            {
                                <span>Кадастровый номер: </span>@item.ApartmentSide2.InventoryNumber
                            }
                            @if (item.ApartmentSide2.InventoryNumber != null && (item.ApartmentSide2.TotalArea != null))
                            {
                                <br />
                            }
                            @if (item.ApartmentSide2.TotalArea != null)
                            {
                                <span>Общая площадь: </span>@item.ApartmentSide2.TotalArea<span> м<sup>2</sup></span>
                            }
                        </div>
                    }

                </td>
                <td>
                    @if (item.ApartmentSide2 != null && item.ApartmentSide2.People != null && item.ApartmentSide2.People.Any())
                    {
                        foreach (var person in item.ApartmentSide2.People)
                        {
                            <div class="@(person.IdPersonStatus == 1 ? "m-contract-list__requester" : "")">
                                @(person.Family + " " + person.Name + (person.Father == null ? "" : " " + person.Father))
                            </div>
                        }
                    }
                    else
                    {
                        <i class="text-danger">отсутствуют</i>
                    }

                        <div class="btn-group m-opacity-item-menu" role="group" aria-label="Панель доступа">
                            <a class="btn btn-primary oi oi-eye" title="Подробнее" aria-label="Подробнее"
                               asp-controller="Contract" asp-action="Details" asp-route-idContract="@item.IdContract" asp-route-action="Details" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                            <a class="btn btn-outline-dark oi oi-pencil" title="Изменить" aria-label="Изменить"
                               asp-controller="Contract" asp-action="Edit" asp-route-idContract="@item.IdContract" asp-route-action="Edit" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                            <a class="btn btn-outline-dark oi oi-layers" title="Копировать" aria-label="Копировать"
                               asp-controller="Contract" asp-action="Create" asp-route-idContract="@item.IdContract" asp-route-action="Create" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                            <a class="btn btn-danger oi oi-x" title="Удалить" aria-label="Удалить"
                               asp-controller="Contract" asp-action="Delete" asp-route-idContract="@item.IdContract" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")"></a>
                            <div class="btn-group" role="group" aria-label="Отчеты">
                                <button class="btn btn-success oi oi-document dropdown-toggle" type="button" title="Отчеты" aria-label="Отчеты" id="reportsBtn_@item.IdContract" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="reportsBtn_@item.IdContract">
                                    <a class="dropdown-item rr-report-resolution" data-toggle="modal" href="#" title='Постановление' aria-label='Постановление' data-id-contract="@item.IdContract">Постановление</a>
                                    <a class="dropdown-item rr-report-agreement" href="#" title='Соглашение' aria-label='Соглашение' data-agreement-type="1" data-id-contract="@item.IdContract">Соглашение</a>
                                    <a class="dropdown-item rr-report-agreement-transfer" href="#" title='Соглашение о передаче в мун. собственность' aria-label='Соглашение о передаче в мун. собственность' data-id-contract="@item.IdContract">Соглашение о передаче в мун. собственность</a>
                                    <a class="dropdown-item rr-report-agreement" href="#" title='Соглашение о возмещении за изымаемое помещение' data-agreement-type="2" aria-label='Соглашение о возмещении за изымаемое помещение' data-id-contract="@item.IdContract">Соглашение о возмещении за изымаемое помещение</a>
                                    <a class="dropdown-item rr-report-takeover-agreement" href="#" title='Соглашение об изъятии для мун. нужд недвижимого имущества' data-agreement-type="3" aria-label='Соглашение об изъятии для мун. нужд недвижимого имущества' data-id-contract="@item.IdContract">Соглашение об изъятии для муниципальных нужд недвижимого имущества</a>
                                    <a class="dropdown-item rr-report-cover-letter" href="#" title='Сопроводительное письмо к соглашению об изъятии' aria-label='Сопроводительное письмо к соглашению об изъятии' data-id-contract="@item.IdContract">Сопроводительное письмо к соглашению об изъятии</a>
                                    <a class="dropdown-item rr-report-rasp " href="#" title='Распоряжение' aria-label='Распоряжение' data-id-contract="@item.IdContract">Распоряжение</a>
                                    <a class="dropdown-item rr-report-notification" href="#" title='Уведомление "прибыть" на мену' aria-label='Уведомление "прибыть" на мену' data-notify-type="1" data-id-contract="@item.IdContract">Уведомление "прибыть" на мену</a>
                                    <a class="dropdown-item rr-report-notification" href="#" title='Уведомление "прибыть" для суда - нотариус' aria-label='Уведомление "прибыть" для суда - нотариус' data-notify-type="2" data-id-contract="@item.IdContract">Уведомление "прибыть" для суда - нотариус</a>
                                    <a class="dropdown-item rr-report-notification" href="#" title='Уведомление "прибыть" для суда - 1 собственник' aria-label='Уведомление "прибыть" для суда - 1 собственник' data-notify-type="3" data-id-contract="@item.IdContract">Уведомление "прибыть" для суда - 1 собственник</a>
                                    <a class="dropdown-item rr-report-notification" href="#" title='Уведомление "правоустанавливающие документы по наследству"' aria-label='Уведомление "правоустанавливающие документы по наследству"' data-notify-type="4" data-id-contract="@item.IdContract">Уведомление "правоустанавливающие документы по наследству"</a>
                                    <a class="dropdown-item rr-report-request-mvd" href="#" title='Запрос в МВД (новый)' aria-label='Запрос в МВД (новый)' data-request-type="1" data-id-contract="@item.IdContract">Запрос в МВД (новый)</a>
                                    <a class="dropdown-item rr-report-request-mvd" href="#" title='Запрос в МВД (старый)' aria-label='Запрос в МВД (старый)' data-request-type="2" data-id-contract="@item.IdContract">Запрос в МВД (старый)</a>
                                    <a class="dropdown-item rr-report-contract-date" href="#" title='Договор с датами' aria-label='Договор с датами' data-id-contract="@item.IdContract">Договор с датами</a>
                                    <a class="dropdown-item rr-report-contract-without-date" href="#" title='Договор без дат' aria-label='Договор без дат' data-id-contract="@item.IdContract">Договор без дат</a>
                                    <a class="dropdown-item rr-report-contract-pre" href="#" title='Предварительный договор' aria-label='Предварительный договор' data-id-contract="@item.IdContract">Предварительный договор</a>
                                    <a class="dropdown-item rr-report-dksr-contract" href="#" title='Договор для ДКСР' aria-label='Договор для ДКСР' data-id-contract="@item.IdContract">Договор для ДКСР</a>
                                </div>
                            </div>
                        </div>

                </td>
            </tr>
        }
    </tbody>
</table>

